<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Keycloak Example</title>
	</head>
	<body>
		<h1>Home</h1>
		<%
		try {
			if (user) {
		%>
				<p><%= user.name %></p>
			<% } else { %>
				<p>Please Login</p>
			<% } %>
		<%
		} catch (e) {
			console.error('Error: ', e);
			%>
				<p>Please Login</p>
		<% } %>

		<a href="/logout">Se déconnecter </a>

        <h1>UE1</h1>
            <li><a href="/UE1/">LIRE UE1</a></li>
            <li><a href="/UE1/ecrire">ECRIRE UE1</a></li>
            <li><a href="/UE1/valider">VALIDER UE1</a></li>
            </br>
		<h1>UE1</h1>
           <li> <a href="/UE2/">LIRE UE2</a></li>
           <li> <a href="/UE2/ecrire">ECRIRE UE2</a></li>
           <li> <a href="/UE2/valider">VALIDER UE2</a></li>
            </br>
        <h1>UE1</h1>
            <li><a href="/UE3/">LIRE UE3</a></li>
            <li><a href="/UE3/ecrire">ECRIRE UE3</a></li>
            <li><a href="/UE3/valider">VALIDER UE3</a></li>
            </br>
	</body>
</html>
